@model EzParty.Models.Party

@{
    ViewData["Title"] = "Create";
}
<html>
    <head>
        <link rel="stylesheet" href="~/css/create.css" />
    </head>
    <body>
    <h2>Create your request</h2>
    <h4>Party</h4>
    <hr />
    <div class="row">
        <div class="col-md-4" id="part">
            <form asp-action="Create" class="form" id="form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Needs" class="control-label"></label>
                    <input asp-for="Needs" class="form-control" required />
                    <span asp-validation-for="Needs" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EventType" class="control-label"></label>
                    <input asp-for="EventType" class="form-control" required />
                    <span asp-validation-for="EventType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Place" class="control-label"></label>
                    <input asp-for="Place" class="form-control" required />
                    <span asp-validation-for="Place" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control" required />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NumberInvites" class="control-label"></label>
                    <input asp-for="NumberInvites" class="form-control" min="1" required />
                    <span asp-validation-for="NumberInvites" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="button" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</body>

</html>

