
@{
    ViewBag.Title = "Request";
}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="~/Content/form.css">
    </head>
    <body>
        <div>
            <form>
                <h1>Request your party now!</h1>
                <label for="needs">What do you need?</label>
                <input type="text" name="needs" id="needs" />
                <label for="types">Type of event or celebration</label>
                <select name="types">
                    <option value="marriage">Marriage</option>
                    <option value="baptism">Baptism</option>
                    <option value="firstCommunion">First Communion</option>
                    <option value="birthday">Birthday</option>
                    <option value="degree">Degree</option>
                    <option value="meeting">Meeting</option>
                </select>
                <label for="place">Where?</label>
                <input type="text" name="place" id="place" />
                <label for="date">When?</label>
                <input type="text" name="date" id="date" />
                <label for="numberInvites">Number of invites</label>
                <input type="number" name="numberInvites" id="numberInvites" />
                <label for="description">Descrption</label>
                <textarea name="description" id="description"></textarea>
                <input type="submit" value="Send!" />
            </form>
        </div>
    </body>
</html>



