
@{
    ViewBag.Title = "Easy Party! - Index";
}
<html>
    <head>

    </head>
    <body>
        <div>
            <h1>It's time to celebrate</h1>
            <h2>Quote with us and receive the best offers!</h2>
            <input type="button" value="Enter">
        </div>
    </body>
    
</html>


